{% extends 'users/base.html' %}
{% block body %}
    <div class="m-10">
        <h2 class="font-bold text-2xl">🔑 Password Reset</h2>
    </div>
    <div class="container mx-10 ">
        <form class="rounded shadow-lg w-2/4" method="POST">
            {% csrf_token %}
            <div class="p-5">
                <label class="block mb-2" >Email:</label>
                <input size="60" type="email" name="email" autocomplete="email" required id="id_email" type="text" class="py-2 mb-6 block shadow-lg border appearance-none rounded">
                <button class="bg-green-500 text-white py-2 px-3" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}