{% extends 'users/base.html' %}
{% block body %}

    {% if validlink %}
        <div class="mx-10 my-10">
            <h2 class="font-bold text-2xl">🔐 Reset Password</h2>
        </div>

        

        <div class="container mx-10 my-10">
            <div class="container text-red-500 px-10">
                <!-- form.error is dict if no error dict will be empty I THINK -->
                {% if form.errors %}
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                {% endif %}
            </div>
            <form method="POST" class="shadow-lg rounded p-10 ">
                {% csrf_token %}
                <!-- <div class="mb-8 text-gray-700 font-bold">
                    <label for="">Old Password</label>
                    <div class="mt-2 shadow appearance-none rounded py-2 px-3 text-gray-700">{{form.old_password}}</div>
                </div> -->
                <div class="mb-8 text-gray-700 font-bold">
                    <label for="">New Password</label>
                    <div class="mt-2 shadow appearance-none rounded py-2 px-3 text-gray-700">{{form.new_password1}}</div>
                </div>
                <div class="mb-8 text-gray-700 font-bold">
                    <label for="">New Password Confirmation</label>
                    <div class="mt-2 shadow appearance-none rounded py-2 px-3 text-gray-700">{{form.new_password2}}</div>
                </div>
                <button type="submit" class="bg-green-500 text-white px-4 py-2">Update</button>
            </form>    
        </div>
        <!-- <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit">
        </form> -->
    {% else %}
        <h2>Password reset link is Invalid</h2>
    {% endif %}

{% endblock %}