{% extends 'users/base.html' %}
{% load mathfilters %}
{% load static %}
{% block body %}

    <div class="flex justify-center mt-5 p-10">
        <h2 class="text-3xl font-normal mb-2 text-gray-500">Feed Page</h2>
    </div>
    <div class="grid-cols-1 mx-96 ">
        {% for post in posts %}
            <a href="">
                <!-- user and post -->
                <div class="rounded overflow-hidden  bg-white shadow-lg mt-6">
                    <div class="user-container flex mb-2 mt-4 mx-4">
                        <img class="h-12 w-12 rounded-full mr-2"  src="{{post.user.profile.photo.url}}" alt="">
                        <div class="mx-2 my-2 font-bold text-indigo-500">{{post.user.profile.user}}</div>
                    </div>
                    <img  src="{{post.image.url}}">
                </div>

                <!-- like comment share -->
                <div class="w-8 h-8 mt-2 mx-2">
                    <div class="icon-container grid grid-cols-4 gap-9  ">
                        <a href="" id="{{ post.id }}" class="btn-like w-8 h-8">
                        
                                {% if request.user in post.liked_by.all %}

                                    <img src="{% static 'users/images/redlike.png' %}" alt="">
                                {% else %}

                                    <img src="{% static 'users/images/whitelike.png' %}" alt="">
                                {% endif %}

                            
                        </a>
                        <a href=""  class="btn-cmnt w-8 h-8 mx-5 " id="{{post.id}}" >
                            <img src="{% static 'users/images/comment.png' %}" alt="">
                        </a>
                        <a href=""  class="btn-share w-8 h-8 mx-9">
                            <img src="{% static 'users/images/send.png' %}" alt="">
                        </a>
                    </div>
                </div> 
                <div class="px-6 pt-2 pb-4">
                    {% if post.liked_by.count < 1 %}
                    {% elif post.liked_by.count == 1 %}
                        {{ post.liked_by.first }} Likes this
                    {% elif post.liked_by.count > 1 %}
                        {{post.liked_by.first }} & {{post.liked_by.count|sub:1 }} Others Like this
                    {% endif %}
                    
                </div>
                <div class="px-6 pt-2 pb-4">
                    <div class="font-bold text-gray-700">
                        {{post.title}}
                    </div>
                    <p>{{post.caption}}</p>
                </div>
                <div class="px-6 pb-4">
                    <label class="font-bold" >Comments</label><br>
                    {% for comment in post.comment.all %}
                       <b class="text-gray-700">{{ comment.comment_by }}</b> : {{ comment.body }} <br>
                    {% endfor %}
                </div>
                <div class="px-5 pt-2 pb-5">
                    <form id="form_{{post.id}}" style="display: none;" method="POST" class="shadow-lg px-5 py-5 w-4/5">
                        {% csrf_token %}
                        <div class="flex border border-gray-400  px-1 w-2/5" id="cmnt_input_{{post.id}}">
                            {{ comment_form.body }}
                            <button class="mx-10 mt-3 bg-green-500 text-white px-4 py-2">Comment</button>
                        </div>
                        <div>
                            <input type="hidden" id="post_id" name="post_id" value="{{ post.id }}">
                            <input type="hidden" id="comment_by" name="comment_by" value="{{ request.user.username }}">
                        </div>
                    </form>
                </div>
            </a>
        {% endfor %}
    </div>

    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}"
        $(document).on('click', '.btn-like', function(event){
            event.preventDefault(); // Prevent the default behavior of the link
            var post_id = this.id; 
            $.ajax({
                method:'POST',
                url:'/posts/like/',
                data:{post_id:post_id, csrfmiddlewaretoken:window.CSRF_TOKEN}
            })
            window.location.href="http://localhost:8000/posts/feed/"
            
        })
        $(document).on('click', '.btn-cmnt', function(event){
            event.preventDefault();
            post_id = this.id;
            $("#form_"+post_id).css("display", "block");
            $("#cmnt_input_"+post_id).find('input[name="body"]').attr('value', ''); 
        })
    </script>

{% endblock %}